.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
*.pdf
tensorflow

load.sql

*.jpg
*.svg
*.png
*.rds
*.sqlite
*.duckdb*
*.csv*
*.parquet*


_site

.tmp.driveupload
.tmp.drivedownload